
{% extends "base.html" %}

{% block content %}
{% load crispy_forms_tags %}

<div class="row">
    <!-- load sidebar -->
    {% include "dashboard/sidebar.html" %}

    <!-- Right side content -->
    <div class="col-md-9">
        <!-- # this will ensure that no one from outside access the user data and related actions, even if they know exact URL -->
        {% if perms.auth.add_user %} 
        <h2>Edit User</h2>

        <form action="" method="POST">
            {% csrf_token %}
            {{ form | crispy }}
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <br>
        {% else %}
        <h5>You do not have permissions to view this page. </h5>
        {% endif %}
    </div>
</div>

{% endblock %}